
body {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 100px;
    margin: 0px;
    font-family: sans-serif;
}

p {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.homebg {
    background-image: url("../image/sun2.png");
    background-color: #293a85;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.spikebg {
    background-image: url("../image/little_spike.png");
    background-repeat:repeat-x;
    background-size:contain;
    margin: 0px;
}

.bluebg {
    background-color: #293a85;
    display: flex;
    text-justify: auto;
}

.transparent {
    background-size: 100% 100%;
}

.navbar {
    padding-inline: 100px;
    font-size: 90px;
    text-align:center;
    margin: 0px;
}

.navbarblue {
    padding-inline: 100px;
    padding-top: 100px;
    font-size: 90px;
    text-align: center;
    
}

.navbar-left {
    padding-inline: 1%;
    font-size:x-large;
    text-align:center;
    margin: 0px;
    -webkit-text-fill-color: whitesmoke;
}

.navbarblock-home {
    background-color: black;
    text-align: left;
    background-size: auto;
    padding-top: 5px;
    display: flex;
    position: sticky;
}

.navbarblock-home a:hover {
    background-color:rgba(14, 14, 14, 0.8);
    color: black;
}

.input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.sticky {
    position: sticky;
    top:0px;
}

.selected {
    background-image: url(../image/highlight.png);
    background-size: 100% 100%;

}

.search {
    background-image: url(../image/search_banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: right;
    border: none;
    padding-right: 15%;
}


.fitscreen {
    margin: auto;
    display: block;
    padding: 5%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration:none;
    color: black;
    padding-bottom: 0%;
}

b {
    text-decoration:none;
    color: black;

}

img {
    max-width: 100%;
    max-height: 100%;
}



.grid-container {
    display: grid;
    grid-template-columns:21% 5% 21% 5% 21% 5% 21%;
    background-color: #293a85;
    padding: 10px;
}

.grid-container2 {
    display:grid;
    grid-template-areas: 
    'video1 video1 text1 text1'
    'text2 text2 text2 text2'
    'download download download download'
    'pic1 pic2 pic3 pic4'
    'text3 text3 text3 text3';
    background-color: #293a85;
    grid-template-rows: 600px auto auto auto auto;
    padding: 10px;
}

.grid-container3 {
    display: grid;
    grid-template-areas: 
    'pic1 pic2 pic3'
    'pic1 pic4 pic3';
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item2 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item3 {
    padding: 20px;
    padding-top: 30%;
    font-size: 30px;
    text-align: center;
}

.grid-item4 {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    padding-top: 0px;
    font-size: 30px;
    text-align: center;
}

.video1 {grid-area: video1;}

.text1 {grid-area: text1;}

.text2 {grid-area: text2;}

.text3 {grid-area: text3;}

.pic1 {grid-area: pic1;}
.pic2 {grid-area: pic2;}
.pic3 {grid-area: pic3;}
.pic4 {grid-area: pic4;}
.pic5 {grid-area: pic5;}
.pic6 {grid-area: pic6;}

.download {grid-area: download;}

.type {
    width:30%;
    height:50%;
}

.trainer {
    width:30%;
    height:30%;
}

.pic {
    image-rendering: auto;
}

.grass {
    background-color:#8cc63f;
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
}

.fire {
    background-color:rgb(248, 129, 129);
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
}

.water {
    background-color:rgb(147, 172, 241);
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
}

.normal {
    background-color:rgba(255, 230, 175, 0.893);
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
} 

.dark {
    background-color:rgba(91, 90, 91, 0.893);
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
} 

.flying {
    background-color:rgb(179, 251, 199);
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
}

.ground {
    background-color:rgb(215, 170, 107);
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
}

.fairy {
    background-color:#fc77ea;
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
}

.bug {
    background-color:#c6ed3b;
    color:white;
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
}



.white {
    background-color: white;
}

.name {
    text-align: left;
    font-size: 30px; 
    font-family: sans-serif;

}

.name2 {
    text-align:left;
    font-size: 18px; 
}


.container {
    width:75%;
    margin:0 auto;
    position:relative;
    padding-top:42%;
    

}
.bg-image {
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size:contain;
}

.images {
    position: relative;
}

.inner-image {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sides {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
}

.poke {
    background-color: #cccccc;
    border-radius: 25px;
    border: 1px solid black;
}

.poketype {
    border-radius: 14px;
    text-align: center;
    color:white;
    font-size: 80%;

}


/* 
Pokedex Image URL
*/

.buncti {
    background-image:url('https://raw.githubusercontent.com/Darkonius64/syliaimages/main/Buncti.png');    
}

.harepin {
    background-image:url('https://raw.githubusercontent.com/Darkonius64/syliaimages/main/Harepin.png');    
}

.faenestrel {
    background-image:url('../image/fen.png');    
}

.geckoal {
    background-image:url('https://raw.githubusercontent.com/Darkonius64/syliaimages/main/Geckoal.png');    
}

.thermtile {
    background-image:url('https://raw.githubusercontent.com/Darkonius64/syliaimages/main/Thermtile.png');    
}

.foundrizard {
    background-image:url('https://raw.githubusercontent.com/Darkonius64/syliaimages/main/Foundrizard.png');    
}



/* 
Pokedex Sound URL
*/

