html,

.jumbotron {
  background-image: url("../images/catip.jpg");
  background-size: 100%;
  text-align: center;
}


body,


li {
  text-align: left;
  text-justify: auto;
  font-size: xx-large;
}

.showlocation {
  font-size: xx-large;
  text-align: center;
}
